.idea/

symfony-bdd-workshop/app/bootstrap.php.cache
symfony-bdd-workshop/app/config/parameters.yml
symfony-bdd-workshop/app/phpunit.xml
symfony-bdd-workshop/app/cache
symfony-bdd-workshop/app/logs
symfony-bdd-workshop/bin/
!symfony-bdd-workshop/bin/setup.sh
!symfony-bdd-workshop/bin/install-local.sh
!symfony-bdd-workshop/bin/.gitkeep
symfony-bdd-workshop/vendor/
symfony-bdd-workshop/web/bundles/
lendo-sms-service/npm-debug.log

logs/nginx/*
!logs/nginx/.gitkeep
logs/symfony/*
!logs/symfony/.gitkeep

symfony-bdd-workshop/node_modules/
symfony-bdd-workshop/assets/bower_components/
symfony-bdd-workshop/web/css/
symfony-bdd-workshop/web/js/
symfony-bdd-workshop/web/favicon/
symfony-bdd-workshop/web/fonts/
